@import "tailwindcss";


/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  /* background: none; */
  border: none;
}

.layout {
  @apply pt-[52px]
}

.navbar {
  @apply flex justify-between items-center fixed w-full h-[52px] top-0 shadow-sm bg-white px-[10px] z-10
}

.navbar__logo {
  @apply text-blue-800 text-lg font-semibold cursor-pointer py-0
}

.navbar__list {
  @apply flex items-center gap-3
}

.navbar__button {
  @apply hidden cursor-pointer text-xl
}

.navbar__list--item {
  @apply cursor-pointer
}

.navbar--mobile {
  @apply hidden fixed w-full left-0 top-[52px] text-white h-screen bg-blue-800
}

.navbar__list--item a:hover {
  @apply text-gray-600
}

@media only screen and (max-width: 600px) {
  .navbar__list {
    @apply hidden
  }

  .navbar--mobile {
    @apply block
  }

  .navbar__list--mobile {
    @apply pl-[10px]
  }

  .navbar__list--item--mobile {
    @apply mt-[10px]
  }

  .navbar__list--item--mobile a {
    @apply text-white cursor-pointer py-[5px] inline-block
  }

  .navbar__button {
    @apply block
  }
}

.infowindow {
  @apply bg-blue-900 text-white block text-sm text-center h-6 rounded-md px-2 border-[0px]
}